<% var meta = {
    pageTitle:'test',
    description:'foo',
    keywords:'foo',
    url:'foo',

};
%>
    <% include common/_header %>
        <div id="app">
            <vue-parent></vue-parent>
            <div id="name"></div>
        </div>

        <% include common/_footer %>